<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.danmercer.ponderizer"
    android:versionCode="3"
    android:versionName="1.1.1" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".NewMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Look up scriptures by reference TODO: Remove this activty? -->
        <activity
            android:name=".AddScriptureReferenceActivity"
            android:parentActivityName=".NewMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.danmercer.ponderizer.scriptureview.ScriptureViewActivity" />
        </activity>

        <!-- "Share" text from Gospel Library and add as scripture -->
        <activity
            android:name=".AddScriptureTextActivity"
            android:label="Add Scripture to Ponderize"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter android:label="Ponderize Scripture" >
                <action android:name="android.intent.action.SEND" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".AddScriptureTextActivityFromAnyApp"
            android:enabled="false"
            android:label="Add Scripture to Ponderize"
            android:targetActivity=".AddScriptureTextActivity" >

            <!-- This activity-alias is disabled by default, but can be enabled from settings -->
            <!-- TODO: add option to enable this in Settings -->
            <intent-filter android:label="Ponderize Scripture" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name=".AddScriptureTextOnlyGospelLibrary"
            android:enabled="true"
            android:label="Add Scripture to Ponderize"
            android:targetActivity=".AddScriptureTextActivity" >

            <!-- This activity-alias is enabled by default, but will be disabled when that^ one -->
            <!-- is enabled -->
            <intent-filter android:label="Ponderize Scripture" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="org.lds.ldssa" />
                <!-- This ^ makes it only accept intents from LDS Gospel Library -->
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity-alias>

        <!-- Shows instructions for adding from Gospel Library -->
        <activity
            android:name=".AddScriptureInstructions"
            android:parentActivityName=".NewMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.danmercer.ponderizer.scriptureview.ScriptureViewActivity" />
        </activity>

        <!-- Displays the text of a scripture -->
        <activity
            android:name=".scriptureview.ScriptureViewActivity"
            android:parentActivityName=".NewMainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.danmercer.ponderizer.scriptureview.ScriptureViewActivity" />
        </activity>

        <!-- Adds a note about a certain scripture -->
        <activity
            android:name=".scriptureview.AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Practice memorizing a scripture -->
        <activity
            android:name=".memorize.MemorizeActivity"
            android:label="@string/title_activity_memorize"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- Scripture widget provider -->
        <receiver android:name=".ScriptureAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scripture_app_widget_info" />
        </receiver>

        <!-- Scripture widget "context menu" -->
        <activity
            android:name=".WidgetPopupMenuActivity"
            android:theme="@style/AppTheme.Dialog" >
        </activity>

        <!-- Scripture widget configuration activity -->
        <activity android:name=".ScriptureAppWidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <!-- Export scriptures and notes -->
        <activity
            android:name=".ExportActivity"
            android:label="@string/title_activity_export"
            android:parentActivityName=".scriptureview.ScriptureViewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.danmercer.ponderizer.scriptureview.ScriptureViewActivity" />
        </activity>
        <activity
            android:name=".memorize.MemorizeTestActivity"
            android:label="@string/title_activity_memorize_test"
            android:parentActivityName=".memorize.MemorizeActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.danmercer.ponderizer.memorize.MemorizeActivity" />
        </activity>
    </application>

</manifest>
