<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.danmercer.ponderizer" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Look up scriptures by reference TODO: Remove this activty? -->
        <activity
            android:name=".AddScriptureReferenceActivity"
            android:parentActivityName=".MainActivity" />

        <!-- "Share" text from Gospel Library and add as scripture -->
        <activity
            android:name=".AddScriptureTextActivity"
            android:label="Add Scripture to Ponderize"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter android:label="Ponderize Scripture" >
                <action android:name="android.intent.action.SEND" />

                <category android:name="org.lds.ldssa" />
                <!-- This ^ makes it only accept intents from LDS Gospel Library -->
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!-- Shows instructions for adding from Gospel Library -->
        <activity
            android:name=".AddScriptureInstructions"
            android:parentActivityName=".MainActivity" />

        <!-- Displays the text of a scripture -->
        <activity
            android:name=".scriptureview.ScriptureViewActivity"
            android:parentActivityName=".MainActivity" />

        <!-- Adds a note about a certain scripture -->
        <activity
            android:name=".scriptureview.AddNoteActivity"
            android:label="@string/title_activity_add_note"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Practice memorizing a scripture -->
        <activity
            android:name=".memorize.MemorizeActivity"
            android:label="@string/title_activity_memorize"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>

        <!-- Scripture widget provider -->
        <receiver android:name=".ScriptureAppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/scripture_app_widget_info" />
        </receiver>

        <!-- Scripture widget configuration activity -->
        <activity android:name=".ScriptureAppWidgetConfigureActivity" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ExportActivity"
            android:label="@string/title_activity_export"
            android:parentActivityName=".scriptureview.ScriptureViewActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="net.danmercer.ponderizer.scriptureview.ScriptureViewActivity" />
        </activity>
    </application>

</manifest>
